{% extends 'account/base_account.html.twig' %}

{% block title %}Commentaire index{% endblock %}

{% block body %}
    <h1>Commentaires validés</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Contenu</th>
            <th>Date</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for commentaire in commentaires %}
            {% if commentaire.isValide == true %}
                <tr>
                    <td>{{ commentaire.contenu }}</td>
                    <td>{{ commentaire.date ? commentaire.date|date('d-m-Y') : '' }}</td>
                    <td>
                        <a href="{{ path('account_commentaire_show', {'id': commentaire.id}) }}">show</a>
                        <a href="{{ path('account_commentaire_delete', {'id': commentaire.id}) }}">Delete</a>
                    </td>
                </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
