{% extends 'account/base_account.html.twig' %}

{% block title %}New Commentaire{% endblock %}

{% block body %}
    <h1>Create new Commentaire</h1>

    {{ include('account/commentaire/_form.html.twig') }}

    <a href="{{ path('account_commentaire_index') }}">back to list</a>
{% endblock %}
