<form method="post" action="{{ path('app_commentaire_validate', {'id': commentaire.id}) }}"
      onsubmit="return confirm('Are you sure you want to validate this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('validate' ~ commentaire.id) }}">
    <button class="btn">Valider</button>
</form>
