{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}


{% block body %}
<div class="homePicture">
        <img class="imgPicture" src="assets/img/Page_acceuil.jpg" alt="Images accueil">
</div>
{% endblock %}
