{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}


{% block body %}
<div class="homePicture">
        <img class="imgPicture" src="assets/img/Page_acceuil.jpg" alt="Images accueil">
</div>
        <div>
                <button type="button" class="btn btn-secondary"><a class="" href="{{ path('front_categorie_index') }}">Catégories</a></button>
                <button type="button" class="btn btn-secondary"><a class="" href="{{ path('front_article_index') }}">Articles</a></button>
        </div>
{% endblock %}
