{% extends 'front/base.html.twig' %}

{% block title %}Commentaire{% endblock %}

{% block main %}
    <h1>Commentaire</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Contenu</th>
            <td>{{ commentaire.contenu }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ commentaire.date ? commentaire.date|date('d-m-Y') : '' }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}
