.entete {
    background-color: #4e73df;
    min-height: 13vh;
}

.homeTitle {
    text-align: center;
}

.headerbtn {
    text-align: center;
    padding-bottom: 2vh;
}

.footer {
    bottom: 0;
    width: 100%;
    background-color: #4e73df;
    min-height: 6vh;
}

.homePicture {
    text-align: center;
}

.imgPicture {
    margin-top: 7vh;
    height: 35vh;
    border-radius: 25%;
}

a {
    text-decoration: none;
    color: black;
}