{% extends 'front/base.html.twig' %}

{% block title %}BlablaBlog{% endblock %}

{% block main %}

    <div class="example-wrapper">
        <h1>Tableau de Bord</h1>
        <img src="/assets/img/logo.png">
    </div>
{% endblock %}
