{% extends 'front/base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block main %}
    <h1>Categorie</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Name</th>
            <td>{{ categorie.name }}</td>
            <td><a href="{{ path('front_article_index', {'idCategorie': categorie.id}) }}">Les articles liés</a></td>
        </tr>
        </tbody>
    </table>
{% endblock %}
