{% extends 'account/base_account.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
    <h1>Categories</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
            <th>Articles</th>
        </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.name }}</td>
                <td>
                    <a href="{{ path('account_categorie_show', {'id': categorie.id}) }}">Détail</a>
                </td>
                <td>
                    <a href="{{ path('account_article_index', {'idCategorie': categorie.id}) }}">Articles liés</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
